<div class="container-fluid" ng-controller="billingController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Billing</h3>
        </div>
        <form class="form" name="billingform" ng-submit="createBill()">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 table-responsive">
                        <table class="table table-bordered table-hover table-striped data patientPrint">
                            <thead>
                                <tr>
                                    <th colspan="5" class="text-center">Patient Profile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Patient Id <br/>Patient Name</th>
                                    <td>{{patient._id }} <br/>{{patient.firstName + " " +patient.lastName}}</td>
                                    <th>Bill Date </th>
                                    <td>{{billing.date | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>Age/ Gender
                                    <br/>Contact
                                    </th>
                                    <td>{{patient.age}} / {{patient.gender}}<br/> {{patient.mobNumber}}<br/>{{patient.emailId}}</td>
                                    <th> Address</th>
                                    <td> {{patient.current.address}}
                                        <br> {{patient.current.city}}
                                        <br> {{patient.current.state}}
                                        <br> {{patient.current.zipCode}}

                                    </td>
                                </tr>
                                <tr>
                                    <th>Treating Doctor</th>
                                    <td>{{billing.treatingDocName}}</td>
                                    <th>Referred Doctor</th>
                                    <td>{{billing.referralName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 table-responsive" ng-init="fetchPatientRecord()">
                        <table class="table table-bordered table-hover table-striped data">
                            <thead>
                                <tr>
                                    <th colspan="5" class="text-center">Patient Record</th>
                                </tr>
                                <tr>
                                    <th>
                                        <a href="javascript:void(0) " ng-click="sortType='_id' ; sortReverse=! sortReverse ">Patient Id
                                            <span ng-show="sortType=='_id' && !sortReverse " class="glyphicon glyphicon-sort-by-attributes "></span>
                                            <span ng-show="sortType=='_id' && sortReverse " class="glyphicon glyphicon-sort-by-attributes-alt "></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="javascript:void(0) " ng-click="sortType='firstName' ; sortReverse=! sortReverse ">Name
                                            <span ng-show="sortType=='firstName' && !sortReverse " class="glyphicon glyphicon-sort-by-attributes "></span>
                                            <span ng-show="sortType=='firstName' && sortReverse " class="glyphicon glyphicon-sort-by-attributes-alt "></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="javascript:void(0) " ng-click="sortType='emailId' ; sortReverse=! sortReverse ">E-mail Id
                                            <span ng-show="sortType=='emailId' && !sortReverse " class="glyphicon glyphicon-sort-by-attributes "></span>
                                            <span ng-show="sortType=='emailId' && sortReverse " class="glyphicon glyphicon-sort-by-attributes-alt "></span>
                                        </a>
                                    </th>
                                    <th><a href="javascript:void(0) " ng-click="sortType='mobNumber' ; sortReverse=! sortReverse ">Mobile Number
                                            <span ng-show="sortType=='mobNumber' && !sortReverse " class="glyphicon glyphicon-sort-by-attributes "></span>
                                            <span ng-show="sortType=='mobNumber' && sortReverse " class="glyphicon glyphicon-sort-by-attributes-alt "></span>
                                        </a>
                                    </th>
                                    <th>Select</th>
                                </tr>                                    
                            </thead>
                            <tbody>
                                <tr ng-repeat="patients in patientData | filter :referralfilter | startFrom : (currentPage - 1) * pageSize |      
                                                limitTo : pageSize         | orderBy:sortType:sortReverse">
                                    <td>{{patients._id}}</td>
                                    <td>{{patients.firstName + " " +patients.middleName + " " +patients.lastName}}</td>
                                    <td>{{patients.emailId}}</td>
                                    <td>{{patients.mobNumber}}</td>
                                    <td><span class="glyphicon glyphicon-check" ng-click= "getPatient(patients)"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 table-responsive">
                        <table class="table table-bordered table-hover table-striped data">
                            <thead>
                                <tr>
                                    <th colspan="6">Patient Previous Billing Records</th>
                                </tr>
                                <tr>
                                    <th>Visit Date</th>
                                    <th>Bill Number</th>
                                    <th>Amount</th>
                                    <th>Due Amount</th>
                                    <th>Remainder</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" ng-init="getBillingServices()">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="12">Billing</th>
                                </tr>
                                <tr>
                                    <th>Description/ Particulars</th>
                                    <th>Service Code</th>
                                    <th>Amount</th>
                                    <th> Quantity</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="billRow" ng-repeat="billRow in billing.billService track by $index">
                                    <td>
                                        <input type="text" class="form-control" ng-model="billing.billService[$index].name" list="services" ng-blur="getBillDetail(billing.billService[$index].name, $index)">
                                        <datalist id="services">
                                          <option ng-repeat = "service in allBillServices" value="{{service.name}}"></option>
                                        </datalist>

                                    </td>
                                    <td><input type="text" class="form-control" ng-model="billing.billService[$index].code"></td>
                                    <td><input type="number" class="form-control" ng-model="billing.billService[$index].costPrice"></td>
                                    <td><input type="number" class="form-control" ng-model="billing.billService[$index].quantity" ng-blur="calcTotal($index)"></td>
                                    <td><input type="text" class="form-control" ng-model="billing.billService[$index].discount" ng-blur="calcDiscount($index)"></td>
                                    <td><input type="number" class="form-control" ng-model="billing.billService[$index].amount"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" ng-click="addServiceRow($index)">Add Additional Services</button>
                        </div>

                        <div class="col-md-9 col-sm-6 table-responsive mtop25">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:200px">Recipt Number</th>
                                        <th>Mode</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-md-3 col-sm-6">
                            <div class="col-md-4 col-sm-6">
                                <label class="control-label" for="billAmount">Bill Total</label>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <input type="Number" class="form-control" ng-model="billing.total" name="billAmount" ng-focus="billTotal()">
                            </div>
                            <div class="col-md-12">
                                <label></label>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label class="control-label" for="amountReceived">Amount Received</label>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <input type="Number" class="form-control" ng-model="billing.amountReceived" name="amountReceived" ng-blur="balanceCalc()">
                            </div>
                            <div class="col-md-12">
                                <label></label>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label class="control-label" for="amountReturned">Amount Returned</label>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <input type="Number" class="form-control" ng-model="billing.amountReturned" name="amountReturned">
                            </div>
                            <div class="col-md-12">
                                <label></label>
                            </div>
                           
                            <div class="col-md-4 col-sm-6">
                                <label class="control-label" for="balance">Balance</label>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <input type="Number" class="form-control" ng-model= "billing.amountBalance" name="balance">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-3">
                                <label for="mode">Payment Mode</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment" ng-model="billing.paymentMode" value="Cash">Cash</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment" ng-model="billing.paymentMode" value="Cheque">Cheque</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment" ng-model="billing.paymentMode" value="Card">Card</label>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="text-center mtop25">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-warning" id="printbtn" ng-click="printData('printElement')">Print</button>

                </div>
            </div>
            {{billing}}
        </form>

        <div class="" id="printElement">
            <div class="col-md-12 text-center">
                <h2 class="normal">BMS HOSPITAL</h2>
                <h4 class="normal">NO.618, SRI MALLIKARJUNA SWAMY TEMPLE,</h4>
                <h4 class="normal">N.R. COLONY, BANGALORE - 560019</h4>
                <h3 class="normal">Patient Bill</h3>
                <hr style="border: 1px dotted black">
            </div>
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover table-striped data patientPrint">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Patient Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Patient Id <br/>Patient Name</th>
                            <td>{{patient._id }} <br/>{{patient.firstName + " " +patient.lastName}}</td>
                            <th>Bill Date </th>
                            <td>{{billing.date | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <th>Age/ Gender
                            <br/>Contact
                            </th>
                            <td>{{patient.age}} / {{patient.gender}}<br/> {{patient.mobNumber}}<br/>{{patient.emailId}}</td>
                            <th> Address</th>
                            <td> {{patient.current.address}}
                                <br> {{patient.current.city}}
                                <br> {{patient.current.state}}
                                <br> {{patient.current.zipCode}}

                            </td>
                        </tr>
                        <tr>
                            <th>Treating Doctor</th>
                            <td>{{billing.treatingDocName}}</td>
                            <th>Referred Doctor</th>
                            <td>{{billing.referralName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div  ng-init="getBillingServices()">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="12" class="text-center">Billing</th>
                            </tr>
                            <tr>
                                <th>Description/ Particulars</th>
                                <th>Service Code</th>
                                <th>Service Cost</th>
                                <th> Quantity</th>
                                <th>Discount</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="billRow" ng-repeat="billRow in billing.billService track by $index">
                                <td>
                                    {{billing.billService[$index].name}}
                                </td>
                                <td>{{billing.billService[$index].code}}</td>
                                <td>{{billing.billService[$index].costPrice}}</td>
                                <td>{{billing.billService[$index].quantity}}</td>
                                <td>{{billing.billService[$index].discount}}</td>
                                <td>{{billing.billService[$index].amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-7">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Recipt No</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Mode</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ADV 1607/ 001</td> 
                                <td>27/12/16</td> 
                                <td>10000000</td> 
                                <td>Cheque</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-md-4 col-sm-6 col-xs-5">                        
                    <table class=" table">
                        <tr>
                            <td> <label> Bill Total </label></label></td>
                            <td>{{billing.total}}</td>
                        </tr>
                        <tr>
                            <td><label> Amount Received </label></td>
                            <td>{{billing.amountReceived}}</td>
                        </tr>
                        <tr>
                            <td> <label>Amount Returned </label></td>
                            <td>{{billing.amountReturned}}</td>
                        </tr>
                        <tr>
                            <td><label> Balance </label></td>
                            <td>{{billing.amountBalance}}</td>
                        </tr>
                    </table>
                </div>

                    <div class="col-sm-12">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-3">
                            <label for="mode">Payment Mode : {{billing.paymentMode}}</label>
                            
                        </div>                        
                    </div>
                </div>
             </div>

        </div>
    </div>
