<div class="container-fluid" ng-controller="fastTrackBillingController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Fast Track Billing</h3>
        </div>
        <form class="form" name="fastTrackBillingform" ng-submit="createBill()" novalidate>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-sm-12 col-md-12">
                        <h3>Patient Information</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6 col-md-3">
                            <label for="prefox">Prefix </label>
                            <select class="form-control" name="prefix" id="prefix" ng-model="fastTrackBilling.prefix" required>
                                <option value="">--Select Prefix--</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Mast.">Mast.</option>
                                <option value="Miss.">Miss.</option>
                                <option value="Mx.">Mx.</option>
                            </select>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.prefix.$error " ng-if="fastTrackBillingform.prefix.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your Prefix</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control " id="fname" name="fname" ng-model="fastTrackBilling.firstName" placeholder="First  Name" required>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.fname.$error " ng-if="fastTrackBillingform.fname.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your First Name</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label for="mname">Middle Name</label>
                            <input type="text" class="form-control " id="mname" name="mname" ng-model="fastTrackBilling.middleName" placeholder="Middle  Name">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control " id="lname" name="lname" ng-model="fastTrackBilling.lastName" placeholder="Last  Name" required>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.lname.$error " ng-if="fastTrackBillingform.lname.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your Last Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-6 col-md-2">
                            <label class="control-label" for="dob">Date of Birth </label>
                            <div class="input-group datetime" datetimepicker>
                                <input type="text" class="form-control input-sm" placeholder="MM/DD/YYY" datetimepicker datetimepicker-options="{{datetimepicker_options}}" ng-model="fastTrackBilling.dob" name="dob" id="dob" ng-blur="ageCalc()" required>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.dob.$error " ng-if="fastTrackBillingform.dob.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your Date of Birth</div>
                                <div ng-message="valid">The entered value is not a date</div>
                                <div ng-message="maxdate">Date Exceeds the Current Date!</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-1">
                            <label for="age">Age</label>
                            <input type="number" class="form-control " id="age" name="age" ng-change="dobCalc()" ng-model="fastTrackBilling.age" placeholder="Age" required>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.age.$error " ng-if="fastTrackBillingform.age.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your age</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <label class="control-label" for="gender">Gender </label>
                            <div class="">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="fastTrackBilling.gender" name="gender" value="Male" ng-required="!fastTrackBilling.gender">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="fastTrackBilling.gender" name="gender" value="Female" ng-required="!fastTrackBilling.gender">Female
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="fastTrackBilling.gender" name="gender" value="Others" ng-required="!fastTrackBilling.gender">Others
                                </label>
                                <div class="validationmsg" ng-messages="fastTrackBillingform.gender.$error" ng-if="fastTrackBillingform.gender.$touched">
                                    <div ng-message="required">Please Slect Your Gender</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label for="mobnum">Mobile Number</label>
                            <input type="number" class="form-control " id="mobnum1" name="mobnum1" ng-minlength="10" ng-maxlength="12" ng-model="fastTrackBilling.mobNumber" placeholder="Mobile Number" required>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.mobnum1.$error " ng-if="fastTrackBillingform.mobnum1.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your Mobile Number</div>
                                <div ng-message="minlength ">Your Mobile Number is too short</div>
                                <div ng-message="maxlength ">Your Mobile Number is too long</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label for="email">E-mail ID </label>
                            <input type="email" class="form-control " id="email1" name="email1" ng-model="fastTrackBilling.emailId" placeholder="E-mail Address" required>
                            <div class="validationmsg " ng-messages="fastTrackBillingform.email1.$error " ng-if="fastTrackBillingform.email1.$touched " role="alert ">
                                <div ng-message="required ">Please Enter Your Email Address</div>
                                <div ng-message="email ">Must be a valid Email Address</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row buttons">
                    <div class="col-sm-12 col-md-12 text-center">
                        <button class="btn btn-primary button" id="print">Print</button>
                        <button class="btn btn-success button" id="save">Save</button>
                        <button class="btn btn-info button" id="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
