<div class="container-fluid" ng-controller="receptionDashboardController">
	<div class="col-sm-12">
		<h2 class="text-center normal">BMS Hospital Trust</h2>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
			    
			    <div class="panel-body">
			    	<div class="col-sm-12">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Today's Appointment</a></li>
							<li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Doctor's Availability</a></li>
							<li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab">Recent Patient Visits</a></li>
							<li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Patient List</a></li>
						</ul>



						<!-- Tab panes -->
						<div class="tab-content" ng-init=";getTodaysAppointments(); getTodaysDoctors()">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div class="row">
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="dateSearch">
									</div>
								</div>
								<div class="table-responsive">
						    		<table class="table table-bordered data">
						    			<thead>
						    				<th>Patient ID</th>
						    				<th>Patient Name</th>
						    				<th>Consulting Doctor</th>
						    				<th>Appointment Time</th>
						    				<th>Appointment Status</th>
						    			</thead>
						    			<tbody>
						    				<tr ng-repeat="appointment in appointments | filter:dateSearch">
						    					<td>{{appointment.patientId._id}}</td>
						    					<td>{{appointment.patientId.firstName + " " + appointment.patientId.lastName}}</td>
						    					<td>{{appointment.doctorId.firstName + " " + appointment.doctorId.lastName}}</td>
						    					<td>{{appointment.startTime}}</td>
						    					<td class="text-center">
						    						<div class="col-sm-3"></div>
						    						<div class="col-sm-3"><span class="fa fa-check-circle" ng-click="updateAppointmentStatus()" ></span></div>
						    						<div class="col-sm-3"><i class="fa fa-times-circle" ng-click="updateAppointmentStatus()"></i></div>
						    					</td>
						    				</tr>
						    			</tbody>

						    		</table>
						    	</div>

							</div>
							<div role="tabpanel" class="tab-pane" id="profile" >
								
								<div class="table-responsive">
						    		<table class="table table-bordered data">
						    			<thead>
						    				<th>Doctor ID</th>
						    				<th>Doctor Name</th>
						    				<th>Doctor Designation</th>
						    				<th>Session Time(In Minutes)</th>
						    				<th>From Time</th>
						    				<th>To Time</th>
						    				<th>Slots</th>
						    				<th>Available Slots</th>
						    			</thead>
						    			<tbody>
						    				<tr ng-repeat="doctor in doctors">
						    					
						    					<td>{{doctor._id}}</td>
						    					<td>{{doctor.firstName + " " + doctor.lastName}}</td>
						    					<td>{{doctor.designation}}</td>
						    					<td>{{doctor.sessionDuration}}</td>
						    					<td><p ng-repeat ="timeF in doctor.shift ">{{timeF.workFrom | date : "hh:mm:a"}}</p></td>
                                            	<td><p ng-repeat ="timeT in doctor.shift">{{timeT.workTo | date : "hh:mm:a"}}</p></td>
                                            	<td><p ng-repeat ="maxSlots in doctor.shift">{{maxSlots.bookedSlots}} /{{maxSlots.maxSlots}}</p></td>
                                            	<td><p ng-repeat ="available in doctor.shift">{{available.availableSlots}}</td>
						    				</tr>
						    			</tbody>

						    		</table>
						    	</div>



							</div>
							<div role="tabpanel" class="tab-pane" id="messages">...3</div>
							<div role="tabpanel" class="tab-pane" id="settings">...4</div>
						</div>
					</div>
			    	

			    	<div class="col-sm-12 col-md-6">
			    	</div>
			    </div>
		    </div>
	    </div>
	</div>

</div>
